<div class="mt-5 container text-center">
  <table class="table align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">名字</th>
        <th scope="col">身分</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.identity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>