<div class="mt-5 container text-center">
  <div class="row" style="background-color:rgb(235, 231, 227);padding:10px">
    <div class="col-sm">編號</div>
    <div class="col-sm">名字</div>
    <div class="col-sm">身分</div>
  </div>

</div>