<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3 mb-3">註冊</h1>
      {{> message}}
      <form action="/users/signUp" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">名字</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{name}}">
        </div>
        <div class="mb-3">
          <label for="email" class="mb-2">電子郵件</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="{{email}}">
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="{{password}}" > 
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="mb-2">再次輸入密碼</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="Confirm Password" value="{{confirmPassword}}"> 
        </div>
        <div class="mt-4 d-flex flex-column">
          <button type="submit" class="btn btn-primary btn-block mb-2">註冊</button>
          <a href="/auth/google" class="btn btn-info btn-block">google 登入</a>
        </div>
      </form>
      <p class="lead mt-4">
        已有帳號? <a href="/users/signIn">登入</a>
      </p>
    </div>
  </div>
</div>